<% form_tag sessions_path, :id => "login-form", :class => "basic-form rounded" do %>
	<fieldset class="rounded-12">
		<legend>iHouse</legend>
		
		<% if flash[:notice] %>
			<%= render :partial => "layouts/flash_alert", :locals => {:title => t(:notice, :scope => :alerts), 
																	 :div_class => "alert yellow rounded-8 shadow-low transparent-70", 
																	 :message => flash[:notice]} %>
		<% end %>
		
		<fieldset>
			<dl>
				<dt><%= label_tag :logon, t(:logon, :scope => :authentication) %></dt>
				<dd><%= text_field_tag :logon, nil, :style => "width: 95%" %></dd>
				
				<dt><%= label_tag :password, t(:password, :scope => :authentication) %></dt>
				<dd>
					<%= password_field_tag :password, nil, :style => "width: 60%" %>
					<%= link_to t(:forgot_password, :scope => :authentication), "lolwut", :class => "bold indented-10" %>
				</dd>
			</dl>
		</fieldset>
			
		<p class="right">
			<%= awesome_submit_button t(:login, :scope => :form), :key, :class => "blue silver rounded-10 large" %>
		</p>	
		
	</fieldset>
	
	<%= render :partial => 'layouts/login_footer' %>
	
<% end %>