<% title h(@house) %>
<h1><%= h @house %></h1>

<div class='basic-form'>
  <dl>
    <dt><%= t :label, :scope => [:house, :name] %></dt>
    <dd class="hint"><%= h @house.name %></dd>

    <% unless @house.description.blank? %>
      <dt><%= t :label, :scope => [:house, :description] %></dt>
      <dd class="hint"><%= h @house.description %></dd>
    <% end %>
  </dl>


  <% unless @house.devices.empty? %>
    <div style='margin-top: 30px'>
      <%= content_tag :h1, t(:device, :count => 2) %>
      <%= render :partial => 'houses/house_devices_table', :locals => {:devices => @house.devices} %>
    </div>
  <% end %>

</div>

<% content_for :navigation do %>
  <% render :layout => "layouts/main_navigation" do %>
    <%= render :partial => "layouts/navigation/current_house_item", :locals => {:classes => "selected tab-separator",
                            :house => @house, :user => @user} %>
    <%= render :partial => "layouts/navigation/devices_item", :locals => {:classes => "tab-separator", :house => @house, :user => @user} %>
  <% end %>
<% end %>


<% content_for :sub_navigation do %>
  <div id="sub-tabs">
    <ul>
        <%= render :partial => "layouts/navigation/edit_user_house_item", :locals => {:house => @house, :user => @user} %>
    </ul>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= content_tag :h1, t(:recent_activity, :scope => :house) %>
  <%= render :partial => 'action_logs', :locals => {:action_logs => @action_logs} %>
<% end %>