<tr id="device_<%= form.object.id %>">
  <td class="left">
    <%= form.text_field :identification, :class => "medium" %>
  </td>
  <td>
    <%= form.text_field :room, :class => "medium" %>
  </td>
  <td>
    <%  unless form.object.custom_name.blank? %>
      <%= form.text_field :custom_name, :class => "medium" %>
    <% else %>
	lolwut
    <% end %>
  </td>
  <td>
    <%= form.text_field :query_state, :class => "medium" %>
  </td>
  <td>
    <%= form.hidden_field :_delete, :class => "remove-device-hidden" %>
    <%= awesome_button t(:cancel, :scope => :form), :cross, :confirm_message => t(:remove, :scope => [:form, :hints]), :class => "red small #{(form.object.new_record?) ? 'remove-new-device' : 'remove-existing-device'}" %>    
  </td>
</tr>