<table id="devices_table" class="basic-table fluid gray-line">
  <thead>
    <tr>
      <th style=""><%=t :label, :scope =>[:device, :identification] %></th>
      <th style=""><%=t :label, :scope =>[:device, :room] %></th>
      <th style=""><%=t :label, :scope =>[:device, :name] %></th>
      <th style=""><%=t :label, :scope =>[:device, :query_state] %></th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr class="gray-footer">
      <td class="left" style="padding-top: 5px; padding-bottom: 5px" colspan="3">
        <%= awesome_button t(:add, :scope => :device), :add, :class => "gray silver small add-house-device"%>
      </td>
      <td class="right" style="padding-top: 5px; padding-bottom: 5px" colspan="10">
        <%= awesome_button t(:discover, :scope => :form), "search-small", :href => discover_user_house_devices_url, :class => "gray silver small discover-devices" %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% house_form.fields_for :devices do |devices_form| %>
      <%= render :partial => "devices_rows_form", :locals =>{:form => devices_form} if house_form.object.devices.size > 0 %>
    <% end %>
  </tbody>
</table>