<table id="devices_table" class="basic-table fluid gray-line">
  <thead>
    <tr>
      <th style=""><%=t :label, :scope =>[:device, :identification] %></th>
      <th style=""><%=t :label, :scope =>[:device, :room] %></th>
      <th style=""><%=t :label, :scope =>[:device, :name] %></th>
      <th style=""><%=t :label, :scope =>[:device, :query_state] %></th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr class="gray-footer">
      <td class="left footer-left footer-right bottom-left-rounded-8 bottom-right-rounded-8" style="padding-top: 5px; padding-bottom: 5px" colspan="10">
        <a href="#" class="awesome gray silver small add-house-device">
          <span class="icon add">
	<%= t :add, :scope => :device %>
          </span>
        </a>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% house_form.fields_for :devices do |devices_form| %>
      <%= render :partial => "devices_rows_form", :locals =>{:form => devices_form} if house_form.object.devices.size > 0 %>
    <% end %>
  </tbody>
</table>