<table id="devices_table" class="basic-table fluid gray-line">
  <thead>
    <tr>
      <th style="width: 110px"><%=t :label, :scope =>[:device, :device_class] %> (<%= t(:advanced) %>)</th>
      <th style=""><%=t :label, :scope =>[:device, :identification] %> (<%= t(:advanced) %>)</th>
      <th style=""><%=t :label, :scope =>[:device, :query_state] %> (<%= t(:advanced) %>)</th>
      <th style=""><%=t :label, :scope =>[:device, :name] %></th>
      <th style=""><%=t :label, :scope =>[:device, :room] %></th>      
      <th style="width:25px"></th>
      <th style="width: 25px"></th>
    </tr>
  </thead>
  <tfoot>
    <tr class="gray-footer">
      <td class="left" style="padding-top: 5px; padding-bottom: 5px" colspan="3">
        <%= awesome_button t(:add, :scope => :device), :add, :class => "gray silver small add-house-device title-me",
          :title => t(:add_device_manually_button, :scope => [:device, :hints], :discover_button => "\"#{t(:label, :scope => [:device, :discover])}\"")%>
      </td>
      <td class="right" style="padding-top: 5px; padding-bottom: 5px" colspan="10">
        <%= awesome_button t(:label, :scope => [:device, :discover]), "search-small",
          :href => discover_user_house_devices_url(current_user, house),
          :class => "gray silver small discover-devices title-me",
          :title => t(:title, :scope => [:device, :discover]) %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% house_form.fields_for :devices do |devices_form| %>
      <%= render :partial => "devices_rows_form", :locals =>{:form => devices_form} if house_form.object.devices.size > 0 %>
    <% end %>
  </tbody>
</table>