<tr id="device_<%= form.object.id %>">  
  <td class="left">
      <div class="icon <%= form.object.display_icon %>"
        <%= text_field_for_device form, :name, :class => "small", :value => (form.object.name.blank?) ? form.object.default_name : form.object.name %>
      </div>
  </td>
  <td>
    <%= text_field_for_device form, :room, :class => "small" %>
  </td>
  <td>
    <%= text_field_for_device form, :device_class, :class => "smallest enable-disable-advanced" %>
  </td>
  <td>
    <%= text_field_for_device form, :identification, :class => "small enable-disable-advanced" %>
  </td>  
  <td>
    <%= text_field_for_device form, :query_state, :class => "small enable-disable-advanced" %>
  </td>
  <td>
    <%= awesome_button t(:advanced), "edit", :class => "blue smallest edit-special-fields-on-device title-me", :title => t(:enable_advanced, :scope => [:device, :hints]) %>
  </td>
  <td>
    <%= form.hidden_field :_delete, :class => "remove-device-hidden" %>
    <%= awesome_button t(:remove, :scope => :form), :cross, :confirm_message => t(:remove, :scope => [:form, :hints]), :class => "red smallest #{(form.object.new_record?) ? 'remove-new-device' : 'remove-existing-device'}" %>
  </td>
</tr>