<%= javascript_include_tag "tabs" %>
<%= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.1.custom" %>

<%= content_tag :h1, t(:device, :count => 2) %>

<% content_for :javascript do %>
  $(document).ready(function(){
  
    //$(".slide-me").slider();
    $(".slide-me").slider({
			orientation: "vertical",
			range: "min",
			value: 37,
			min: 1,
			max: 700,
			slide: function(event, ui) {
				$(this).parent().find(".amount").val('$' + ui.value + " " + $(this).attr("href"));

			},
			change: function(event, ui){
			  $(this).parent().append(ui.value);
			}
		});
		//$(this).parent().find(".amount").val('$' + $("#slider-range-min").slider("value"));

  });
<% end %>

<div class="hastabs basic-form">
  <% @devices_by_room.each_pair do |room, devices| %>
    <%= render "devices_panel", :room => room, :devices => devices, :house => @house, :user => @user %>
  <% end %>
</div>

<% content_for :navigation do %>
  <% render :layout => "layouts/main_navigation" do %>
    <%= render :partial => "layouts/navigation/devices_item", :locals => {:classes => "selected tab-separator", :house => @house, :user => @user} %>
  <% end %>
<% end %>


<% content_for :sub_navigation do %>
  <div id="sub-tabs">
    <ul>
      <%= render :partial => "layouts/navigation/add_edit_discover_item", :locals => {:classes => "tab-separator", :house => @house, :user => @user} %>
    </ul>
  </div>
<% end %>