<div  class="indented-30 float-left" style="margin-right: 30px">
  <%= form.hidden_field :_delete, :class => "remove-action-hidden" %>
  <fieldset>
    <legend>
      <%= awesome_button t(:remove, :scope => :form), :cross, :confirm_message => t(:remove, :scope => [:form, :hints]), :class => "red smallest #{(form.object.new_record?) ? 'remove-new-action' : 'remove-existing-action'}" %>
    </legend>
    
    <div class ='float-right'>
      <%= link_to t(:label, :scope => [:action, :customize_controls]), '#',
            :class => 'icon customize-action customize-controls title-me',
            :title => t(:hint, :scope => [:action, :customize_controls]) %>
    </div>
    <div class='clear'></div>

    <dl>
      <dt><%= form.label :name, t(:label, :scope => [:action, :name]) %></dt>
      <dd class="hint"><%= t :hint, :scope => [:action, :name] %></dd>
      <dd><%= form.text_field :name, :value => (form.object.name.blank?) ? form.object.default_name : form.object.name %></dd>

      <dt><%= form.label :command, t(:label, :scope => [:action, :command]), :class => "required" %></dt>
      <dd class="hint"><%= t :hint, :scope => [:action, :command] %></dd>
      <dd><%= form.text_field :command, :class => "title-me", :title => t(:title, :scope => [:action, :command]) %></dd>
      
      <dt><%= form.label :action_type, t(:label, :scope => [:action, :action_type]), :class => "required" %></dt>
      <dd class="hint"><%= t :hint, :scope => [:action, :action_type] %></dd>
      <dd><%= form.select :action_type, Action.ACTION_TYPES,{},:onChange => "showRange(this);return false;", :class => "title-me", :title => t(:title, :scope => [:action, :action_type]) %></dd>
      <dd class="range_values <%=(form.object.validates_range?) ? "" : "hidden" %>">
        <div>
          <div class="float-left center indented-10" style="margin-right: 10px">
            <%= form.label :range_min, t(:label, :scope => [:action, :range_min]), :class => "bold required" %>
            <%= form.text_field :range_min, :class => "small" %>
          </div>
          <div class="float-left center">
            <%= form.label :range_max, t(:label, :scope => [:action, :range_max]), :class => "bold required" %>
            <%= form.text_field :range_max, :class => "small" %>
          </div>
        </div>        
      </dd>
      
      <dd>
        <div class='action-control-preview display-none' id='preview_<%= rand.to_s.gsub '.', '_' %>'>
          <div class='clear'></div>
          <%= action_control form.object %>          
        </div>
      </dd>      
    </dl>

  </fieldset>
</div>
