<div  class='indented-30 float-left' style='margin-right: 30px'>
  <%= form.hidden_field :_delete, :class => 'remove-action-hidden' %>
  <%= form.hidden_field :temp_id %>
  <fieldset>
    <legend>
      <%= awesome_button t(:remove, :scope => :form), :cross, :confirm_message => t(:remove, :scope => [:form, :hints]), :class => "red smallest #{(form.object.new_record?) ? 'remove-new-action' : 'remove-existing-action'}" %>
    </legend>
    
    <div class ='float-right'>
      <%= link_to t(:label, :scope => [:action, :customize_controls]), '#',
            :class => 'icon customize-action customize-controls title-me',
            :title => t(:hint, :scope => [:action, :customize_controls]) %>
    </div>
    <div class='clear'></div>

    <dl>
      <dt><%= form.label :name, t(:label, :scope => [:action, :name]) %></dt>
      <dd class="hint"><%= t :hint, :scope => [:action, :name] %></dd>
      <dd><%= form.text_field :name, :value => (form.object.name.blank?) ? form.object.default_name : form.object.name %></dd>

      <dt><%= form.label :command, t(:label, :scope => [:action, :command]), :class => "required" %></dt>
      <dd class="hint"><%= t :hint, :scope => [:action, :command] %></dd>
      <dd><%= form.text_field :command, :class => "title-me", :title => t(:title, :scope => [:action, :command]) %></dd>
                  
      <dd>
        <div class='action-control-preview display-none' id='preview_<%= form.object.temp_id.to_s %>'>
          <div class='clear'></div>
          
          <div class='basic-form rounded medium' >
          
            <fieldset>
              <legend>Customize me i18n</legend>
              
              <dl>
                
                <dt><%= form.label :action_type, t(:label, :scope => [:action, :action_type]), :class => 'required black' %></dt>
                <dd class='hint'><%= t :hint, :scope => [:action, :action_type] %></dd>
                <dd><%= form.select :action_type, Action.ACTION_TYPES,{},:onChange => "showRange(this);return false;", :class => "title-me", :title => t(:title, :scope => [:action, :action_type]) %></dd>
                <dd class="range_values <%=(form.object.validates_range?) ? '' : 'display-none' %>">
                  <div>
                    <div class='float-left center indented-10' style='margin-right: 10px'>
                      <%= form.label :range_min, t(:label, :scope => [:action, :range_min]), :class => "black bold required" %>
                      <%= form.text_field :range_min, :class => "small" %>
                    </div>
                    <div class='float-left center'>
                      <%= form.label :range_max, t(:label, :scope => [:action, :range_max]), :class => "black bold required" %>
                      <%= form.text_field :range_max, :class => 'small' %>
                    </div>
                  </div>        
                </dd>
                
                <% form.fields_for :handle, form.object.handle do |handle_form| %>               
                  
                  <dt class='range-control'><%= handle_form.label :orientation, 'orientation', :class => 'black' %></dt>
                  <dd class='range-control'><%= handle_form.select :orientation, ['horizontal', 'vertical'] %></dd>
                  
                  <dt class='range-control'><%= handle_form.label :footer_label, 'footer label', :class => 'black' %></dt>
                  <dd class='range-control'><%= handle_form.text_field :footer_label, :class => 'small' %></dd>
                  
                <% end %>
              </dl>
              
              <div class='float-right'>
                <%= awesome_button 'preview', :star, :class => 'preview-action-control smallest' %>
                <%= awesome_button 'oks', :tick, :class => 'nyroModalClose smallest' %>
              </div>
              
              <div class='clear'></div>
              
              <dl>
                
                <dt>Preview</dt>
                <dd>
                  <%= action_control form.object, :form => form %>
                </dd>
              </dl>             
              
            </fieldset>            
            
          </div>          
        </div>
      </dd>      
    </dl>

  </fieldset>
</div>
