<% content_for :navigation do %>
  <% render :layout => "layouts/main_navigation" do %>
    <%= render :partial => "layouts/navigation/devices_item", :locals => {:classes => "tab-separator", :house => @house, :user => @user} %>
    <%= render :partial => "layouts/navigation/add_edit_action_item", :locals => {:classes => "selected tab-separator",
                    :house => @house, :user => @user, :device => @device} %>
  <% end %>
<% end %>

<%= content_tag :h1, t(:manage_current_device_actions, :scope => :device, :device => @device) %>
<%= content_tag :p, t(:find_actions, :scope => [:action, :hints], :find_button => "\"#{t(:find_actions, :scope => :action)}\"") %>

<%= javascript_include_tag "actions"  %>

<% form_for @device, :url => user_house_device_actions_url(@user, @house, @device),
        :html => {:method => :post, :class => "basic-form rounded large" } do |device_form| %>

        <%= error_messages_for :device, :associations => :actions, :class => "alert red error rounded-8" %>

        <% content_for :javascript do %>
          $(".add-device-action").live("click", function(){
            <%= "var action='#{generate_template(device_form, :actions, :partial => "actions/actions_new_fieldset_form", :simulate => true)}'" %>
        
            $("#div_clear_actions").before(action.replace(/NEW_RECORD/g, new Date().getTime())).prev("div").highlightMe();
            $(".title-me").tipTip();

            return false;
          });

          $(".remove-new-action").live("click", function(){
            if(confirm($(this).confirmPlz()))
              $(this).closest("div").remove();

              return false;
            });

          $(".remove-existing-action").live("click", function(){
            if(confirm($(this).confirmPlz()))
            {
              $(this).closest("div").find(".remove-action-hidden").val(1);
              $(this).closest("div").hide();
            }

            return false;
          });          
                    
          $('.customize-controls').live('click', function(e){
            
            e.preventDefault();

            fieldset = $(this).closest('fieldset');

            $.ajax({  async: false,
                      cache: false,
                      data: 'command=' + $('.action-command', fieldset).val(),
                      dataType: 'json',
                      url: '<%= find_known_actions_url :format => :json%>',
                      success: function(response){
                        if(response == null)
                          return;
                          
                        var known_action = response.known_action;

                        if(known_action.action_type == 'turn_on_off')
                        {
                          $('.hidden-action-icon-on',fieldset).val(known_action.handle.display_icon_on);
                          $('.hidden-action-icon-off',fieldset).val(known_action.handle.display_icon_off);

                          var action_on = $('.action-icon-on',fieldset);
                          var classes = action_on.attr('class').split(' ');
                          action_on.removeClass(classes[classes.length - 1]).addClass(known_action.handle.display_icon_on);

                          var action_off = $('.action-icon-off',fieldset);
                          var classes = action_off.attr('class').split(' ');
                          action_off.removeClass(classes[classes.length - 1]).addClass(known_action.handle.display_icon_off);
                        }
                        else
                        {
                          $('.action-range-min',fieldset).val(known_action.handle.range_min);
                          $('.action-range-max',fieldset).val(known_action.handle.range_max);
                        }

                        $('.action-type', fieldset).val(known_action.action_type).trigger('change');
                        $('.preview-action-control', fieldset).trigger('click');
                      }});

            $.nyroModalManual({
              url: '#' + $(this).closest('fieldset').find('div.action-control-preview').attr('id'),
              endFillContent: function(modal, settings){
                //$('#nyroModalContent').append("<p id='guigoguigo'>fwefwefef</p>");
                
              },              
              endRemove : function(modal, settings){
              
                
              }
            });
            
            return false;
          });

          $('.preview-action-control').live('click', function(){
            fieldset = $('#fieldset_' + $(this).attr('id').split('_')[1])
            action_url = '?name=' + $('.action-name', fieldset).val();
            action_url += '&command=' + $('.action-command', fieldset).val();

            customize_fieldset = $(this).closest('fieldset');
            action_url += '&action_type=' + $('.action-type', customize_fieldset).val();
            action_url += '&handle_orientation=' + $('.action-handle-orientation', customize_fieldset).val();
            action_url += '&handle_display_icon_on=' + $('.hidden-action-icon-on', customize_fieldset).val();
            action_url += '&handle_display_icon_off=' + $('.hidden-action-icon-off', customize_fieldset).val();
            action_url += '&range_min=' + $('.action-range-min', customize_fieldset).val();
            action_url += '&range_max=' + $('.action-range-max', customize_fieldset).val();
            action_url += '&temp_id=' + $(this).attr('id').split('_')[1];
            
            //$.getScript('<%= preview_user_house_device_actions_url(@user, @house, @device)%>' + action_url);

            $.ajax({
                    url: '<%= preview_user_house_device_actions_url(@user, @house, @device)%>' + action_url,
                    dataType: 'script',
                    cache: false
                  });
            
            return false;
          });

          $('.action-type').live('change',showRange);

          function showRange()
          {
            if($(this).val() == "range")
            {
              $('.turn_on_off_values', $(this).closest("dl")).hide();
              $('.range_values', $(this).closest("dl")).slideDown();
            }
            else
            {
              $('.range_values', $(this).closest("dl")).hide();
              $('.turn_on_off_values', $(this).closest("dl")).slideDown();
            }
          }
          
        <% end %>
        
        <%= render :partial => "actions/actions_form", :locals => {:device_form => device_form,
                        :user => @user,
                        :house => @house,
                        :device => @device,
                        :simulate => true} %>

        <%= awesome_submit_button t(:submit, :scope => :form), :tick %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "find_actions_sidebar", :locals =>{:user => @user, :house => @house, :device => @device} %>
  <%= required_fields_help %>
<% end %>

<%= javascript_include_tag 'jquery.nyroModal-1.6.2' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.1.custom', 'nyromodal/nyroModal' %>
<% end %>
