<h1><%= t :new, :scope => :user %></h1>

<%= javascript_include_tag "themes" %>

<%= title t(:new, :scope => [:user]) %>

<% form_for @user, :html => {:class => "basic-form rounded large"} do |f| %>

  <%= error_messages_for :user, :class =>"alert red error rounded-8" %>

<div class="rounded-8">
  <%= render :partial => "user_form", :locals => {:f => f} %>

  <%= awesome_submit_button t(:save, :scope => :form), :edit %>
</div>

<% end %>