<script>
  <% simulate ||= simulate || false %>
  <% code_to_use = (action.range_max.blank?) ? 50 : action.range_max / 2 %>
  <% state = (simulate && {:code => code_to_use, :state => code_to_use}) || action.state %>
  <% state_code = state[:code] %>
  <% action_id = (action.id) ? action.id : action.temp_id %>

  $("#handle_head_<%= action_id %>").html("<%= state_code %>");//add the real state here
  $("#handle_foot_<%= action_id %>").html("<%= action.to_s.humanize %>");

  $("#handle_<%= action_id %>").slider({
        orientation: "<%= action.slider_orientation %>",
        range: 'min',
        value: <%= state_code %>,// todo get current value
        min: <%= action.range_min %> ,
        max: <%= action.range_max %>,
        slide: function(event, ui) {
          $("#handle_head_<%= action_id %>").html(ui.value);

        },
        change: function(event, ui){
          <% unless simulate %>
            $("#handle_head_<%= action_id %>").html("<span class='icon round-loading'></span>");

            $.ajax({  async: true,
                      cache: false,
                      url: '<%= set_user_house_device_action_url current_user, action.device.house, action.device, action %>', //+ '?value=' + (($("#handle_<%= action_id %>").is(':checked')) ? 1 : 0),
                      type: 'PUT',
                      dataType: 'script',
                      data: {value: $("#handle_<%= action_id %>").slider('value')},
                      complete: function(status, response){
                        eval(response);
                      }});
            $("#handle_<%= action_id %>").slider('disable');
          <% else %>
            changeHandleHtml<%= action_id %>();
          <% end %>
  }});


  function changeHandleHtml<%= action_id %>()
  {
    var $slider = $("#handle_<%= action_id %>");
    $("#handle_head_<%= action_id %>").html($slider.slider('value')).closest('table.actions-table').highlightMe();
    $slider.slider('enable');
  }


  function onHandleError<%= action_id %>(message)
  {
    $("#handle_head_<%= action_id %>").html($("#handle_<%= action_id %>").slider('value')).closest('div').prepend("<div id='handle_error_<%= action_id %>'>" + message + '</div>');
    $('#handle_error_<%= action_id %>').fadeOut(6000, function(){
      $('#handle_error_<%= action_id %>').html('').show();

      $("#handle_<%= action_id %>").slider('enable');
    });
  }
</script>
