<script>
  <% simulate ||= simulate || false %>
  <% code_to_use = (action.range_max.blank?) ? 50 : action.range_max / 2 %>
  <% state = (simulate && {:code => code_to_use, :state => code_to_use}) || action.state %>
  <% state_code = state[:code] %>
  <% action_id = (action.id) ? action.id : action.temp_id %>

  $("#handle_head_<%= action_id %>").html("<%= state_code %>");
  $("#handle_foot_<%= action_id %>").html("<%= action.to_s.humanize %>");

  $("#handle_<%= action_id %>").slider({
        orientation: "<%= action.slider_orientation %>",
        range: 'min',
        value: <%= state_code %>,
        min: <%= action.range_min %> ,
        max: <%= action.range_max %>,
        slide: function(event, ui) {
          $("#handle_head_<%= action_id %>").html(ui.value);

        },
        change: function(event, ui){
          <% unless simulate %>
            $("#handle_head_<%= action_id %>").html("<span class='icon round-loading'></span>");

            $.ajax({  async: true,
                      cache: false,
                      url: '<%= set_user_house_device_action_url current_user, action.device.house, action.device, action %>', //+ '?value=' + (($("#handle_<%= action_id %>").is(':checked')) ? 1 : 0),
                      type: 'PUT',
                      dataType: 'script',
                      data: {value: $("#handle_<%= action_id %>").slider('value')},
                      complete: function(status, response){
                        eval(response);
                      }});
            $("#handle_<%= action_id %>").slider('disable');
          <% else %>
            changeHandleHtml<%= action_id %>();
          <% end %>
  }});


  function changeHandleHtml<%= action_id %>()
  {
    var $slider = $("#handle_<%= action_id %>");
    $("#handle_head_<%= action_id %>").html($slider.slider('value')).closest('table.actions-table').highlightMe();
    $slider.slider('enable');

    $.Growl.show({
      'title'  : '<%= t :ihouse_success %>',
      'message': '<%= t :action_successfully_performed, :scope => [:action, :messages, :success] %>',
      'icon'   : 'success',
      'timeout': 3000
    });
  }


  function onHandleError<%= action_id %>(message)
  {
    <% unless simulate %>
      $.Growl.show({
        'title'  : '<%= t :ihouse_error %>',
        'message': message,
        'icon'   : 'error',
        'timeout': 3000
      });
    <% end %>

    $("#handle_head_<%= action_id %>").html($("#handle_<%= action_id %>").slider('value'));
    $("#handle_<%= action_id %>").slider('enable');

    $("#handle_head_<%= action_id %>").closest('table.actions-table').highlightMe();
  }

  <% if state.key? :error_message %>
    onHandleError<%= action_id %>("<%= state[:error_message] %>");

    $("#handle_head_<%= action_id %>").
      html("<a href='#' id='reload_action_status_<%= action_id %>' class='no-underline' ><span class='icon refresh-action-status'><%= t(:try_again).downcase %></span></a>");

    $("#handle_<%= action_id %>").slider('disable');

    $('#reload_action_status_<%= action_id %>').click(function(){
      $("#handle_head_<%= action_id %>").html("<span class='icon round-loading'></span>");
      $("#handle_<%= action_id %>").slider('disable');

      $.getScript('<%= control_user_house_device_action_url action.device.user, action.device.house, action.device, action %>');

      return false
    });
  <% else %>
    $("#handle_head_<%= action_id %>").html("<%= state_code %>").
      closest('table.actions-table').highlightMe();
  <% end %>
</script>